<!DOCTYPE html>
<html>
<head>
    <title>Resume Analyzer</title>
</head>
<body>
    <h2>Resume Analyzer</h2>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="resume" required><br><br>
        
        <textarea name="job_desc" placeholder="Paste job description" rows="6" cols="40"></textarea><br><br>
        
        <button type="submit">Analyze</button>
    </form>

    {% if score %}
        <h3>Match Score: {{score}}%</h3>
        <h4>Missing Keywords:</h4>
        <ul>
            {% for word in missing %}
                <li>{{word}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>