<!DOCTYPE html>
<html>
<head>
    <title>Resume Analyzer</title>
</head>

<body style="text-align:center; margin-top:100px; font-family:Arial, Helvetica, sans-serif; background-color:hwb(69 56% 41%);">

    <div style="background:white; padding:30px; width: 600px; margin:auto; border: 20px solid #ccc;">

        <h2 style="width: auto;font-style: initial;font-size:35px;">Resume Analyzer</h2>

        <p style="font-size:20px;font-style: italic;">Upload your resume (PDF)</p>

        <form action="/upload" method="post" enctype="multipart/form-data">

            <input type="file" name="resume" required>
            <br><br>

            <button type="submit" 
            style="background:lab(28.57% 69.12 -93.61)0% ; color:white; padding:10px 20px; border:none; border-radius:5px;">
                Upload Resume
            </button>

        </form>

    </div>

</body>
</html>